<form>
  <div class="row">
      <div class="col-md-9">
        <input #movieName type="text" class="form-control" style="border-radius: 2px; font-size: 20px; text-align: center;" placeholder="Search for a new movie to review"/>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success btn-block btnScale"  style="border-radius: 2px; font-size: 20px;" (click)="findMovieStart(movieName.value)">Find Movie</button>
      </div>
  </div> 
</form>

<br>


<div *ngIf="searchBool && validMovie" class="movieOutput" (click)="movieSelected(filmTitle.innerHTML, filmID.innerHTML)">
  <div class="row">
    <div class="col-md-4"><img class="img-responsive" [src]=[film.Poster]/></div>
    <div class="col-md-8" style="padding-top: 20px;">
      <h2 #filmTitle>{{film.Title+" ("+film.Year+")"}}</h2>
      <h5 class="grayText">{{"Director: "+film.Director}}</h5>
      <h5 class="grayText">{{"Rated: "+film.Rated}}</h5>
      <hr/>
      <p>{{film.Plot}}</p>
      <br/>
      <br/>
      <h6 class="grayText actors">{{"Actors: "+film.Actors}}</h6>
      <h6 style="display: none;" #filmID>{{film.imdbID}}</h6>
    </div>
  </div>
</div>

<hr>

<!-- Reviewed Movies -->
<button (click)="callCustomAPI('')">Show Movies With Reviews</button>
<h3 *ngIf="filmReviewBool"> ==>
  <ul>
    <li style="cursor: pointer;" #testVal (click)="movieSelected('TEST', testVal.innerHTML)" *ngFor="let rev of filmReviews">{{rev.imdbId}}</li>
  </ul>

  <==
</h3>
<!-- End Reviewed Movies -->



<!-- Sample Comment Display -->

<!-- <button (click)="callCustomAPI('')">Show Comments</button>
<h3 *ngIf="filmReviewBool">
  <ul>
    <li style="cursor: pointer;" #testVal (click)="movieSelected('TEST', testVal.innerHTML)" *ngFor="let rev of filmReviews">{{rev.reviewComment}}</li>
  </ul>
</h3> -->

<!-- End Sample Comment Display -->


<div id="darkBackground" *ngIf="popupShow" (click)="closePopup()"></div>
<div id="popup" *ngIf="popupShow">
  <h1 id="closePopupX" (click)="closePopup()">X</h1>
  <div id="prevComments">
    <h3>What others are saying about {{film.Title}}</h3>
    <ul>
      <li *ngFor="let rev of filmReviews">"{{rev.reviewComment}} Star rating: {{rev.starRating}}"</li>
    </ul>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-7">
      <input #newReviewText type="text" class="form-control" placeholder="Write Review.."/>
    </div>
    <div class="col-sm-3">
      <span class="fa fa-star {{starCount >= 1 ? 'checked' : ''}}" (click)="starCheck(1)"></span>
      <span class="fa fa-star {{starCount >= 2 ? 'checked' : ''}}" (click)="starCheck(2)"></span>
      <span class="fa fa-star {{starCount >= 3 ? 'checked' : ''}}" (click)="starCheck(3)"></span>
      <span class="fa fa-star {{starCount >= 4 ? 'checked' : ''}}" (click)="starCheck(4)"></span>
      <span class="fa fa-star {{starCount >= 5 ? 'checked' : ''}}" (click)="starCheck(5)"></span>
    </div>
    <div class="col-sm-2">
      <button class="submitReviewBtn btn btn-block" (click)="submitReview(newReviewText.value)">Submit</button>  
    </div>
  </div>
        
</div>
