<form>
  <div class="row">
      <div class="col-md-9">
        <input #movieName type="text" class="form-control" style="border-radius: 2px; font-size: 20px; text-align: center;" placeholder="Search for a new movie to review"/>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success btn-block btnScale"  style="border-radius: 2px; font-size: 20px;" (click)="findMovieStart(movieName.value)">Find Movie</button>
      </div>
  </div> 
</form>

<br>

<input #imdbTest type="text" placeholder="Test Imdb ID"/>
<button (click)="callCustomAPI(imdbTest.innerHTML)">Custom API Call (Test)</button>
<h1 *ngIf="filmReviewBool"> ==>
  <ul>
    <li *ngFor="let rev of filmReviews">{{rev.reviewComment}}</li>
  </ul>

  <==
</h1>

<div *ngIf="searchBool && validMovie" class="movieOutput" (click)="movieSelected(filmTitle.innerHTML, filmID.innerHTML)">
  <div class="row">
    <div class="col-md-4"><img class="img-responsive" [src]=[film.Poster]/></div>
    <div class="col-md-8" style="padding-top: 20px;">
      <h2 #filmTitle>{{film.Title+" ("+film.Year+")"}}</h2>
      <h5 class="grayText">{{"Director: "+film.Director}}</h5>
      <h5 class="grayText">{{"Rated: "+film.Rated}}</h5>
      <hr/>
      <p>{{film.Plot}}</p>
      <br/>
      <br/>
      <h6 class="grayText actors">{{"Actors: "+film.Actors}}</h6>
      <h6 style="display: none;" #filmID>{{film.imdbID}}</h6>
    </div>
  </div>
</div>


<div id="darkBackground" *ngIf="popupShow" (click)="closePopup()"></div>
<div id="popup" *ngIf="popupShow">
  <h1 id="closePopupX" (click)="closePopup()">X</h1>
  <div id="prevComments">
    <h3>What others are saying about {{film.Title}}</h3>
    <!-- <ul>
      <li>"Great movie!"</li>
      <li>"Best movie I've ever seen!"</li>
      <li>"Boring, would not recommend.."</li>
      <li>"It's okay-ish I guess :/"</li>
    </ul> -->
    <ul>
      <li style="color: white;" *ngFor="let rev of filmReviews">{{rev.reviewComment}}</li>
    </ul>
  </div>
  <input #newReviewText type="text" class="form-control" placeholder="Write Review.."/>
  <button (click)="submitReview(newReviewText.value)">Submit</button>        
</div>
