<!-- Star rating beside movie comment -->
<p><em> "{{ review.reviewComment }}" 
  - 
    <span class="fa fa-star {{review.starRating >= 1 ? 'checked' : ''}}"></span>
    <span class="fa fa-star {{review.starRating >= 2 ? 'checked' : ''}}"></span>
    <span class="fa fa-star {{review.starRating >= 3 ? 'checked' : ''}}"></span>
    <span class="fa fa-star {{review.starRating >= 4 ? 'checked' : ''}}"></span>
    <span class="fa fa-star {{review.starRating >= 5 ? 'checked' : ''}}"></span>
</em></p>
