<div class="movieOutput">
  <div class="row">
    <div class="col-md-4"><img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTlkOWYzZDYtNzQ1MS00YTNkLTkyYTItMjBmNjgyMDBlMjI4XkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg"/></div>
    <div class="col-md-8" style="padding-top: 20px;">
      <h2 #filmTitle>The Dictator (2012)</h2>
      <h5 class="grayText">Director: Larry Charles</h5>
      <h5 class="grayText">Rated: R</h5>
      <hr/>
      <p>The heroic story of a dictator who risked his life to ensure that democracy would never come to the country he so lovingly oppressed.</p> 
      <br/>
      <br/>
      <h6 class="grayText actors">Actors: Sacha Baron Cohen, Sayed Badreya, Rocky Citron, Liam Campora</h6>
      <h6 style="display: none;" #filmID>tt1645170</h6>
    </div>
  </div>
</div>