<div class="movieOutput" (click)="toggleDisplay()">
  <div class="row">
    <div class="col-md-4"><img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTlkOWYzZDYtNzQ1MS00YTNkLTkyYTItMjBmNjgyMDBlMjI4XkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg"/></div>
    <div class="col-md-8" style="padding-top: 20px;">
      <h2 #filmTitle>[[Movie Name]]</h2>
      <h5 class="grayText">[[Director: xxx]]</h5>
      <h5 class="grayText">[[Rated: x]]</h5>
      <hr/>
      <p>[[Description]]</p> 
      <br/>
      <br/>
      <h6 class="grayText actors">[[Actors: xxx]]</h6>
      <h6 style="display: none;" #filmID>[[tt1645170]]</h6>
    </div>
  </div>
</div>