<br>
<h2 class="text-center">About 'Movie Reviews'</h2>

<div id="about">
    <br>
    <p class="text-center">'Movie Reviews' is a Team 3rd Year Project for RAD302 - 2018 <br> The team consists of..</p>
    
    <br>
    
    <div class="namesWrap">
        <div class="row boxCenter">
          <div class="col-8">Alexandra Damaschin</div>
          <div class="col-4">S00175680</div>
        </div>
    
        <div class="row boxCenter">
          <div class="col-8">Eimutis Genys</div>
          <div class="col-4">S00161472</div>
        </div>
    
        <div class="row boxCenter">
          <div class="col-8">Glenn Gilmartin</div>
          <div class="col-4">S00162036</div>
        </div>
    
        <div class="row boxCenter">
          <div class="col-8">Joshua Butler</div>
          <div class="col-4">S00161171</div>
        </div>
    
        <div class="row boxCenter">
          <div class="col-8">Keith O'Grady</div>
          <div class="col-4">S00153960</div>
        </div>
    </div>
    
    <br>
</div>
