<div id="wrap">
    
    <form ng-submit="formSubmit()" class="form" #f="ngForm"  novalidate (ngSubmit)="login(f)">
      <div class="form-group" *ngIf="!loginShow">
          <input type="text" class="form-control" ng-model="username" placeholder="Username" required="" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="email" placeholder="E-mail" required="" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" ng-model="password" placeholder="Password" required="" />
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-success btn-block" [disabled]="f.invalid || isRequesting">Login</button>
          <app-spinner [isRunning]="isRequesting"></app-spinner>
        </div>

        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>Oops!</strong> {{errors}}
        </div>
    </form>

    <div class="row socialDiv" *ngIf="!loginShow">
      <div class="col-sm-3">
        <div class="btnSocial" (click)="signInWithGoogle()">
          <i class="fa fa-google"></i>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="btnSocial" (click)="signInWithFB()">
          <i class="fa fa-facebook-square"></i>
        </div>
      
    </div>

    <br>

   
    
<!--
</div>
<div id="wrap">
<div class="row">
	<div class="col-md-6">

		<div class="card">
			<div class="card-block">

				<div *ngIf="brandNew" class="alert alert-success" role="alert">
					<strong>All set!</strong> Please login with your account
				</div>

				<h4>Login</h4>

				<form #f="ngForm"  novalidate (ngSubmit)="login(f)">

					<div class="form-group">
						<label for="email">Email</label>
						<input id="email" type="text" required name="email" [ngModel]="credentials.email" #email="ngModel" tmFocus validateEmail class="form-control"
							placeholder="Email">

						<small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">
            Please enter a valid email
          </small>

					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input id="password" type="password" required name="password" class="form-control"	placeholder="Password" ngModel>
					</div>

         
					<div class="form-group">
						<button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Login</button>
						<app-spinner [isRunning]="isRequesting"></app-spinner>
					</div>

					<div *ngIf="errors" class="alert alert-danger" role="alert">
						<strong>Oops!</strong> {{errors}}
					</div>
				</form>

			</div>
		</div>
	</div>
</div>-->