<div id="wrap">
  <form ng-submit="formSubmit()" class="form">

    <!-- First Name -->
    <div class="form-group" [hidden]="loginShow">
      <input #firstName type="text" class="form-control" ng-model="firstname" placeholder="First Name" />
    </div>

    <!-- Last Name -->
    <div class="form-group" [hidden]="loginShow">
      <input #lastName type="text" class="form-control" ng-model="lastname" placeholder="Last Name" />
    </div>

    <!-- Username -->
    <div class="form-group" [hidden]="loginShow">
      <input #userName type="text" class="form-control" ng-model="username" placeholder="Username" />
    </div>

    <!-- Email -->
    <div class="form-group">
      <input #email type="email" class="form-control" ng-model="email" placeholder="E-mail" required />
    </div>

    <!-- Password 1 -->
    <div class="form-group">
      <input #password1 type="password" class="form-control" ng-model="password" placeholder="Password" required />
    </div>
    
    <!-- Password 2 -->
    <div class="form-group" [hidden]="loginShow">
      <input #password2 type="password" class="form-control" ng-model="password2" placeholder="Confirm Password" required />
    </div>

    <div class="form-group" *ngIf="loginShow">
      <button type="submit" class="btn btn-success btn-block">Login</button>
    </div>
  </form>

  <div class="row socialDiv" *ngIf="loginShow">
    <div class="col-sm-3">
      <div class="btnSocial" (click)="signInWithGoogle()">
        <i class="fa fa-google"></i>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btnSocial" (click)="signInWithFB()">
        <i class="fa fa-facebook-square"></i>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btnSocial" (click)="socialLogin('github')">
        <i class="fa fa-github"></i>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btnSocial" (click)="socialLogin('twitter')">
        <i class="fa fa-twitter"></i>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
      <!-- firstName.value, lastName.value, userName.value, email.value, password1.value, password2.value -->
    <button *ngIf="loginShow" class="btn btn-block btn-{{loginShow ? 'default' : 'success'}}" (click)="registerShow()">Register</button>
    <button *ngIf="!loginShow" class="btn btn-block btn-{{loginShow ? 'default' : 'success'}}" (click)="register(firstName.value, lastName.value, userName.value, email.value, password1.value, password2.value)">Register</button>
  </div>
  <div class="row" *ngIf="!loginShow">
    <button class="btn btn-block btn-link" (click)="backToLogin()">Back to Login</button>
  </div>
  <div class="row" *ngIf="loginShow">
    <button class="btn btn-block btn-link" (click)="forgotPassword()">Forgot Password?</button>
  </div>
  <div class="row" *ngIf="loginShow">
    <button class="btn btn-block btn-link" (click)="signOut()">Logout</button>
  </div>

</div>