<div id="wrap">
  <form ng-submit="formSubmit()" class="form">
    <div class="form-group" *ngIf="!loginShow">
      <input type="text" class="form-control" ng-model="username" placeholder="Username" required="" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="email" placeholder="E-mail" required="" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" ng-model="password" placeholder="Password" required="" />
    </div>
    <div class="form-group" *ngIf="!loginShow">
      <input type="text" class="form-control" ng-model="password2" placeholder="Confirm Password" required="" />
    </div>
    <div class="form-group" *ngIf="loginShow">
      <button type="submit" class="btn btn-success btn-block">Login
      </button>
    </div>
  </form>

  <div class="row socialDiv" *ngIf="loginShow">
    <div class="col-sm-3">
      <div class="btnSocial" (click)="signInWithGoogle()">
        <i class="fa fa-google"></i>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btnSocial" (click)="signInWithFB()">
        <i class="fa fa-facebook-square"></i>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btnSocial" (click)="socialLogin('github')">
        <i class="fa fa-github"></i>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btnSocial" (click)="socialLogin('twitter')">
        <i class="fa fa-twitter"></i>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <button class="btn btn-block btn-{{loginShow ? 'default' : 'success'}}" (click)="register()">Register</button>
  </div>
  <div class="row" *ngIf="!loginShow">
    <button class="btn btn-block btn-link" (click)="backToLogin()">Back to Login</button>
  </div>
  <div class="row" *ngIf="loginShow">
    <button class="btn btn-block btn-link" (click)="forgotPassword()">Forgot Password?</button>
  </div>
  <div class="row" *ngIf="loginShow">
    <button class="btn btn-block btn-link" (click)="signOut()">Logout</button>
  </div>

</div>