form {
    max-width: 900px;
}

.btn {
    cursor: pointer;
}

#darkBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;   
    z-index: 100;
}

#popup {
    position: fixed;
    top: 15%;
    left: 15%;
    right: 15%;
    background-color: white;
    z-index: 200;
}

.submitReviewBtn {
    font-size: 15px;
    background-color: white;
    color: #8d8d8d;
    text-align: bottom left;
    cursor: pointer;
    transition: .1s;
    margin: 0 auto;
    border-radius: 1px;
    margin-bottom: 8px;
}

.submitReviewBtn:hover {
    transform: scale(1.05,1.05);
}

.submitReviewBtn:active {
    transform: scale(0.98,0.98);
}

#popup input {
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 0px;
}

#popup .btn {  
    background-color: rgb(6, 161, 6);
    color: white;
    font-size: 20px;   
    height: 45px;
    width: 100px;    
}

ul li {
    list-style: none;
    font-size: 20px;
    font-style: italic;
}

ul {
    padding-top: 10px;
}

.fa-star {
    text-shadow: 0px 0px 2px rgb(75, 75, 75);
    color: white;
    cursor: pointer;
    font-size: 28px;
}

.checked {
    /* color: rgb(247, 231, 16); */
    /* color: rgb(18, 99, 250); */
    color: rgb(54, 54, 54);
}

#prevComments {
    height: 200px;
    text-align: center;
    overflow: auto;
}

#closePopupX {
    cursor: pointer;
    text-align: right;
    margin-right: 9px;
}

.movieOutput {
    max-height: 700px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.7);
    margin-bottom: 50px;
    -webkit-transition: .2s; /* Safari */
    transition: .15s;
    background-color: rgba(255,255,255,.9);
}

.movieOutput:hover {
    transform: scale(1.04,1.04);
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}

.movieOutput:active {
    transform: scale(0.98,0.98);
}

#darkDiv {
    background-color: rgba(0,0,0,.6);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; 
}

.roundInput {
    border-radius: 2px;
    height: 60px;
    font-size: 20px;
    max-width: 220px;
    margin: 0 auto;
}

#setPrice {
    background-color: rgba(255,255,255,.9);
    box-shadow: 0px 1px 2px gray;
    padding: 5px;
    padding-top: 30px;
    position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    margin: 0px auto;
    bottom: 200px;
    width: 300px;
    height: 200px;
    z-index: 2;
    border-radius: 2px;
}

#setPriceBtn {
    -webkit-transition: .15s;
    padding: 10px;
    width: 180px;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 50px;

}

#setPriceBtn:hover {
    transform: scale(1.1,1.1);
    cursor: pointer;
}

#setPriceBtn:active {
    transform: scale(0.98,0.98);
}

/* Button Style */
.btnScale {
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
}

.btnScale:hover {
    transform: scale(1.05,1.05);
    cursor: pointer;
}

.btnScale:active {
    transform: scale(0.96,0.96) !important;
}  

.grayText {
    color: #9c9c9c;
}

.actors {
    position:absolute;
    bottom: 25px;
}

.movieInfoBox {
    padding: 50px;
    padding-top: 30px;
}

.searchRow {
    padding: 15px;
}

.reviewRow {
    padding: 5px;
    padding-top: 0px;
    margin-top: 0px;
}

.revMovList{
    padding: 5px;
}

.revImage {
    width: 100%;
    transition: .1s;
    cursor: pointer;
}

.revImage:hover {
    transform: scale(1.05,1.05);
    box-shadow: 0px 1px 1px gray;
}

.revImage:active {
    transform: scale(0.98,0.98);
}

.revMovieContainer {
    max-width: 1000px; 
    margin: 0 auto;
}



/*** Small Screen ***/
@media only screen and (max-width:992px){
    .movieInfoBox{
        display: none;
        padding: 0px;
    }

    .sayingAbout {
        font-size: 25px;
    }

    .movieOutput {
        max-width: 333px;
        max-height: 444px;
        margin: 0 auto;
    }

    .moviePoster {
        height: 444px;
        width: 333px;
        margin: 0 auto;
    }

    #popup {
        top: 15%;
        left: 5%;
        right: 5%;
    }

}

@media only screen and (max-width:500px){
    .hideOnSmallScreen {
        display: none;
    }
}